<div class="row mt-6 p-5">
    <div class="col-md-8 mx-auto">
        <div class="card-header">
            <h2 class="page-header text-center">Nueva sesión de reminiscencia</h2>
        </div>
        <div class="card-body text-center">
            <p class="lead">Elige la tarea a realizar en la sesión</p>
            <a href="task/objeto" class="btn btn-primary btn-block">Objetos cotidianos</a>
            <a href="task/cancion" class="btn btn-secondary btn-block">Canciones</a>
            <a href="task/video" class="btn btn-success btn-block">Videos</a>
            <a (click)="finSesion()" class="btn btn-danger btn-block">Finalizar sesión</a>
        </div>
    </div>
</div>
